:root {
    --navy: #344a62;
    --bright-blue: #28c4f8;
    --d-grey: #1a1a1a;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    font-family: system-ui, sans-serif;
}

.topnav a.true {
    transition: all 0.4s ease-in-out;
    color: #28c4f8;
}

.pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 70vw;
    height: 70vh;
    padding-bottom: 50px;
}

/* .holds-the-iframe {
    height: 20vh;
    width: 20vw;
    position: fixed;
    z-index: -1;
    background-size: 200px;
  } */

.topnav img {
    height: 30px;
    width: 30px;
    /* padding: 5px; */
}

.about-me {
    padding-bottom: 30px;
}
.projects{
    padding-top: 30px;
}
.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
}

#topnav-container-sticky+.about-me {
    padding-top: 70px;
}

.about-title .react-reveal span {
    /* top: 100vh; */
    font-size: 3em;
    display: inline-block;
    animation-fill-mode: both;
    /* animation-duration: 1000ms;  */
    animation-delay: 400ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: react-reveal-1;
}

@keyframes react-reveal-1 {
    0% {
        opacity: 0;
        transform: translate3d(0px, 100%, 0px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

hr {
    display: block;
    width: 30vw;
    border: 0;
    border-top: 1px solid rgb(55, 55, 55);
    margin: 5px auto 0 auto;
    padding: 0;
}

.react-reveal {
    animation-fill-mode: both;
    animation-duration: 1800ms;
    animation-delay: 400ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: react-reveal-1;
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    width: 75vw;
}

.react-reveal-ani {
    animation-fill-mode: both;
    animation-duration: 1800ms;
    animation-delay: 400ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: react-reveal-1;
}

.about-content .react-reveal b {
    color: dimgray;
    font-weight: 500;
}

.proj-list {
    display: grid;
    grid-template-columns: auto;
    /* grid-gap: 10px; */
}

.proj-list .proj {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90vw;
    padding-top: 20px;
}

.proj-list img {
    width: 30vw;
    border-radius: 10px;
}

.proj-list .descrip {
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 10px;
    text-align: center;
    font-weight: 300;
    text-align: justify;
    padding-top: 0
    /* width: 75vw; */
}

.react-logo-main-cont {
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    margin-right: 30px;
}

.container-react-logo {
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
    right: 0;
    background: #222;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}

.react-logo {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #00d8ff;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.react-logo, .react-logo:before, .react-logo:after {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #00d8ff;
}

.nucleo, .react-logo, .react-logo:before, .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nucleo {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #00d8ff;
}

.react-logo:before, .react-logo:after {
    content: "";
}

.react-logo:after {
    transform: rotate(-57deg);
}

.react-logo:before {
    transform: rotate(57deg);
}

.title-react-logo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--d-grey);
    margin: 2px 5px;
    padding: 10px;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 767px) {
    .react-logo-main-cont {
        display: none;
    }
    #topnav-container-sticky+.about-me {
        padding-top: 0;
    }
    .about-title .react-reveal {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .about-content .react-reveal {
        font-size: 1.8rem;
    }
    .proj-list .proj {
        flex-direction: column;
        width: 90vw;
    }
    .proj-list img {
        width: 70vw;
    }
    .react-reveal {
        width: 90vw;
    }
}